#c1{

 width: 250px;


}
#flex-container{
    
        display: flex;
        justify-content: center;
        align-items: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    
  }
  
 